*{
    margin: 0;
    padding: 0;
}

body{
   background-color: #EEE; 
   font-family: sans-serif;
   text-transform: capitalize;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    background-color: #E4F9F5;
    padding: 20px;
}

header{

}

.pro{
    width: 100px;
    height: 120px;
    border: 3px solid green;
    border-radius: 50%;
    float: left;
}

.hafiz{
    float: left;
    padding: 30px;
}

h1,h2,h3,h4,h5,h6{
    color: #11999e;
}

.gmail{
    float: right;
    padding: 30px;
}

.gmail a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

.gmail a:hover{
    text-decoration: underline;
    color: tomato;
}

.div-clear{
    clear: both;
}

hr{
  border: 3px solid black; 
  width: 100%;
  margin: 20px auto;
  border-bottom: none;
}

/* --------------------
personal section start
-------------------- */

#personal-section{

}

.content{
   margin-bottom: 30px;
}

.left-div{
   width: 30%;
   float: left;
}

.right-div{ 
    width: 70%;
    float: left;
}

.common-hr{
    border: 1px solid black;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}

/* --------------------
education section start
-------------------- */

.edu-tamplate-left{
    float: left;
    width: 45%;
}

.edu-tamplate-right{
    float: right;
    width: 45%;
}

/* honors section start */

.edu-tamplate-left-hafiz{
    float: left;
    width: 100%;
}

/* honors section end */

.edu-tamplate-green{
    float: left;
    width: 45%;
}

.edu-tamplate-red{
    float: right;
    width: 45%;
}

/* bottom-container start */

.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
}

.bottom-container a{
    color: white;
    text-decoration: none;
    margin: 20px;
}

.bottom-container p{
    color: white;
    margin-top: 20px;
}